@import "~react-image-gallery/styles/css/image-gallery.css";

/* font https://fontlibrary.org//face/glacial-indifference */

:root {
  --color-accent: #df0000;

  /* --navbar-burger-logo-height: 10vh; */
  --mobile-navbar-height: min(50px, 10vh);
  --margin-between-elements: 10rem;
  --menu-row-height: 7rem;
  --menu-width: min(40rem, 100vw);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* @font-face {
  font-family: montserrat; 
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap')
} */

@import url('//db.onlinewebfonts.com/c/405f05e6bf58471a25729ed060cda2d8?family=Glacial+Indifference');
/* @font-face {
  font-family: glacial-indifference;
  src: url("https://fontlibrary.org//face/glacial-indifference")
} */

.primary-font {
  font-family: "montserrat", sans-serif;
}

.secondary-font {
  font-family: "glacial-indifference", sans-serif;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold; 
}

.bolder {
  font-weight:1000; 
}

#body {
  display: flex;
  flex-direction: column;

  /* scroll-snap-type: y mandatory;
  overflow-y: scroll; */

  /* Full height */
  /* height: 100vh;
  width: 100vw; */
}

.page {
  /* Snap align start. */
  /* height: 100vh;
  width: 100vw; */
}

#home {
  /* display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 16% 4% 17% 33% 16% 15%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url("https://cdn.suwalls.com/wallpapers/photography/sushi-32549-2560x1600.jpg"); */
  background-position: center;
}

#header {
  display: none;
}

#navbar {
  display: none;
}

#mobile-navbar {
  position: fixed;
  z-index: 100000;
  top: 0;
  width: 100vw;
  height: var(--mobile-navbar-height);

  display: flex;
  
  background-color: black;
}

#mobile-navbar-logo {
  transform: translateX(calc(-50vw + 50%));
}
/* justify-content: space-between; */

#hamburger-list {
  display: flex;

  position: fixed;
  top: var(--mobile-navbar-height);
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-direction: column;
}

#hamburger-list li {
  width: 100vw;
  height: 2em;
  line-height: 2em;

  font-size: 2em;
  text-align: center;
  font-family: "montserrat" sans-serif;
  background-color: black;
  border: white 1px solid;
  color: white;
}

.hamburger-icon-tomato {
    width: 35px;
    height: 6%;
    background-color: white;
    margin-block: 0.75vh;
    margin-left: 3vw;
}

#hamburger-icon {
  margin-top: 1vh;
}

@media only screen and (min-width: 834px) {
  .page {
    scroll-snap-align: start;
  }

  #mobile-navbar {
    display: none;
  }

  #home {
    /* display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 16% 4% 17% 33% 16% 15%; */
    display: block;
    /* flex-direction: column;
    justify-content: space-between; */
    /* width: 100vw;
    height: 100vh; */
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url("https://cdn.suwalls.com/wallpapers/photography/sushi-32549-2560x1600.jpg"); */
    background-position: center;
  }

  #navbar {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    /* grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 3; */
    background-color: black;
    background: rgba(0,0,0,.26);
    padding-left: 20%;
    padding-right: 20%;
  }
  
  .navbar-item {
    color: white;
    font-weight:450;
    font-family: "montserrat", sans-serif;
    align-self: center;
    text-align: center;
    text-decoration: none;
    margin-right: 6%;
    margin-left: 6%;
    margin-block: 0.5rem;
    border: none;
    background: none;
    height: max-content;
  
    /* font-size: 2.5vh; */
  }
  
  #header {
    display: flex;
    /* width:100%;
    height:20%; */
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: black;
  
    align-content: center;
    justify-content: center;
  }
}

video {
  position: fixed; 
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto; 
  z-index: -100;
  background-size: cover;
  overflow: hidden;
}

#shaded-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-content: center; */
  height: fit-content;
  /* max-width: 100vh; */
  /* min-width: 40vw; */
  margin-inline: auto;
  margin-block: 20vh;
  padding-block: 2rem;
  padding-inline: 1rem;

  max-width: min(50rem);

  text-align: center;
  /* grid-column: 2 / 3;
  grid-row: 4 / 5; */
  /* position: center; */
  background-color: black;
  background: rgba(0,0,0,.59);
  /* border: 1em solid red; */
}

.shaded-box-text {
  color: white;
  font-family: "glacial-indifference", sans-serif;
  /* margin-left: 2vh;
  margin-right: 2vh; */
  /* border: 3px solid red; */
}

#shaded-box > h1 {
  font-size: 2rem; /*max(4vh, 4vw)*/;
  font-weight: bold;
}

#shaded-box > h3 {
  font-size: 1.25rem; /*max(2vh, 2vw)*/;
}

#until-status {
  font-size: 1rem /*8.5vh*/;
  font-style: italic;
}

#misc-status {
  font-size: 1rem; /*max(4vh, 4vw);*/
}

#shaded-box-spacing {
  font-size: 0.75rem;
}

#open-status {
  /* margin-top: 3vh; */
  font-weight: bold;
}

#phone-number {
  margin-bottom: 4vh;
  font-weight: bold;
  letter-spacing: -0.002em;
  /* margin-top: -0.5vh; */
}

#menu-button {
  grid-row: 5 / 6;
  grid-column: 2 / 3;
  background-color: var(--color-accent);
  text-align: center;
  color: white;
  width: 50vw;
  max-width: 15em;
  height: 7vh;
  font-size: 1.5rem;
  line-height: 7vh;
  justify-self: center;
  align-self: center;
  border: none;
}

@media only screen and (min-aspect-ratio: 100/70) {
  
  #shaded-box > h1 {
    font-size: 2.5em;
    font-weight: bold;
  }
  
  #shaded-box > h2 {
    font-size: 1.5em;
  }
  
  #shaded-box > h3 {
    font-size: 1.75em;
  }

  #shaded-box-spacing {
    font-size: 1vh;
  }
}

/* For home page */
/* @media only screen and (min-width: 900px) {
  #home {
    grid-template-columns: 25% 50% 25%;
  }

  #open-status, #phone-number {
    font-size: 6vh;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000
  }
  
  #until-status {
    font-size: 3vh;
  }
  
  #misc-status {
    font-size: 3vh;
  }
  
  #shaded-box-spacing {
    font-size: 5vh;
  }
  
  #open-status {
    margin-top: 4vh;
  }
  
  #phone-number {
    margin-bottom: 2vh;
  }

  #menu-button {
    transform: translateY(-25%);
    grid-row: 5 / 6;
    grid-column: 2 / 3;
    background-color: red;
    text-align: center;
    color: white;
    width: 17vw;
    height: 7vh;
    font-size: 2.5vh;
    line-height: 7vh;
    justify-self: center;
    align-self: center;
  }

  
} */

/* Mission Page */
#mission-body {
  /* flex stuff */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-bottom: var(--margin-between-elements);
/* 
  height: 100vh;
  width: 100vw; */

  background-color: black;
}

.mission-section {
  min-height: 25rem;
  width: 100vw;
}

#mission-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: var(--color-accent);

  /* text stuff */
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-overflow: ellipsis;
}

#mission-text > * {
  margin-inline: 7%;
  margin-block-start: 3%
}

#mission-text > h1 {
  font-size: 2.3rem;
  font-weight: bold;
}

#mission-text > p {
  font-size: 1.3rem;
}

#mission-image {
  background-image: url("https://cdn.suwalls.com/wallpapers/photography/sushi-32549-2560x1600.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* For mission page */
@media only screen and (min-aspect-ratio: 10/8) {
  #mission-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    padding-top: var(--margin-between-elements);
  }

  .mission-section {
    /* height: 100%; */
    min-height: min(90vh, 45vw);
    /* max-height: 9rem; */
    width: min(90vh, 45vw);
  }

  #mission-text > h1 {
    font-size: 3.5rem;
    font-weight: bold;
    /* height: min(fit-content,min(90vh, 45vw)); */
  }
  
  #mission-text > p {
    font-size: 1.5rem;
  }
}

/* Hours page */

/* width:1360/1920 height:564/1080 */

#hours-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

/* width:852/1360 */
#hours-title {
  transform: translateY(60%);
  /* height: 3rem;
  line-height: 3rem; */
  height: fit-content;
  padding-block: 1rem;
  padding-inline: 1rem;
  max-width: 70%;
  min-width: 40%;
  /* margin-top: var(--margin-between-elements); */

  text-align: center;
  font-size: 1.7rem;
  color: white;
  text-shadow: 0px 0px 0.3px #000;
  background-color: var(--color-accent);
}

#hours-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4) ), url("https://cdn.suwalls.com/wallpapers/photography/sushi-32549-2560x1600.jpg");
  width: 80vw;
  /* max-width: 100vh;
  min-width: 40vw; */
  height: fit-content;
  /* margin-bottom: var(--margin-between-elements); */
  /* text-shadow: 1px 1px 1px #000; */

  border: var(--color-accent) 1.75vmin solid;
  /* background-image: url("https://cdn.suwalls.com/wallpapers/photography/sushi-32549-2560x1600.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-position: center; */
}

/* All text in hours box */
#hours-text > div {
  color: white;
  text-align: center;
  /* -webkit-text-stroke: 0.3px black; width and color */
}

#hours-mon-sat {
  font-size: 3rem;
}

#hours-lunch-time, #hours-dinner-time {
  margin-top: -0.2em;
  font-size: 3rem;
}

#hours-lunch, #hours-dinner {
  font-size: 2.5rem;
}

#hours-closed-sundays, #hours-last-call {
  margin-top: -0.2em;
  font-size: 1.6rem;
}

#hours-last-call {
  margin-bottom: 4.5vh;
}

.hours-top-margin {
  margin-top: 10.5vh;
}

.hours-bottom-margin {
  margin-bottom: 4.5vh;
}

.hours-time {
  /* font-size: 150%; */
}

@media only screen and (min-width: 660px) {
  #hours-title {
    font-size: 3.5rem;
  }
}

#location-page {
  height: fit-content;
  /* width: 100vw; */
  padding-bottom: var(--margin-between-elements);

  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;

  background-color: black;
  color: white;
}

#north-natomas {
  padding-top: var(--margin-between-elements);
  text-align: center;
}

.address {
  
}

#map {
  height: auto;
  width: min(35rem, 100vw);
}

#menu-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
}

#menu {
  align-self: center;
  margin-block: var(--mobile-navbar-height);
  font-size: medium;
  width: var(--menu-width);
}

.menu-category-label {
  align-self: center;
  text-align: center;
  background-color: #c69f74;
  color: white;
  width: var(--menu-width);
}

.menu-item-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  min-height: var(--menu-row-height);
  margin-block: 1rem;
  margin-inline: 1rem;
  /* background-color: burlywood; */
}

.menu-row-left {
  display: flex;
}

.menu-row-right {
  color: white;
}

.menu-item-row img {
  max-width:100%;
  height: var(--menu-row-height);
}

.menu-icons-col {
  width: 1rem;
  margin-inline: 0.3rem;
  /* background-color: blue; */
}

.menu-icons-col img {
  max-width:100%;
  height: auto;
}

.menu-text-col {
  color: white;
}

#photos-page {
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #181818;
}

.image-gallery {
  margin-inline: auto;
  padding-block: 5rem;
  width: 100vw;
  background-color: #181818;
}

.image-gallery-slides{
  height: 40rem;
}
.image-gallery-slide, .image-gallery-image {
  max-height: unset;
  height: 100%;
  object-fit: cover;
}

#contact-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  color: white;
}

#contact-page section {
  margin: 5rem;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;

  background-color: black;
  color: white;
  text-align: center;
}

#footer-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  width: 50%;
}

#footer > hr {
  color: white;
  width: 80vw;
}


/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 25px;
  left: 3vw;
  top: 1.5vh;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

#privacy-page {
  display: flex;
  flex-direction: column;

  background-color: black;
  color: white;
}

#privacy-body {
  margin: 5rem;
}

#accessibility-page {
  background-color: black;
  color: white;
}

#accessibility-body {
  display: flex;
  flex-direction: column;
  padding: 5rem;
}